.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    background: #e6ece6;
    border-radius: 20px;
}